<a href="https://colab.research.google.com/github/Harika822/projects/blob/master/assignment_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Calculate the cost of the carpet where the user provides the length and width of the carpet. The price of the carpet is 100 Rupees per square meter.
a=int(input("enter length"))
b=int(input("enter width"))
area=a*b
cost=area*100
print(cost)

enter length5
enter width6
3000

In [ ]:
#Calculate the volume of a cylinder when radius and height are given and print the volume.
r=int(input("enter radius"))
h=int(input("enter height"))
volume=3.14*r*r*h
print(volume)

enter radius2
enter height6
75.36

In [ ]:
#Write a program to compute the future value of a specified principal amount, rate of interest, and a number of years using compound and simple interests.
p=int(input("enter principle value"))
t=int(input("enter time value"))
r=int(input("enter rate value"))
si=(p*t*r)/100
ci=p*(1+(r/100))**t
print(si)
print(ci)

enter principle value1000
enter time value5
enter rate value9
450.0
1538.6239549000004

In [ ]:
#Write a program to ask the user to enter three numbers and find the largest number from a set of three numbers.
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a>b and a>c:
    print("a is big")
elif b>a and b>c:
    print("b is big")
else:
    print(" c is big")

enter a value5
enter b value6
enter c value8
 c is big

In [ ]:
#Write a program to generate and print all 3-digit numbers that equal the sum of the cubes of their individual decimal digits.
def Armstrong(num):
    sum = 0
    temp = num
    while temp > 0:
      digit = temp % 10
      sum += digit ** 3
      temp //= 10
      return sum

for num in range(100,1000):
    if num==Armstrong(num):
      print(num,end=' ')

153 370 371 407

In [ ]:
for num in range(100,1000):
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** 3
       temp //= 10

   if num == sum:
       print(num,end=' ')

153 370 371 407

In [ ]:
#Write a program that displays all the prime numbers less than 100 using while loop.
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = ' ')

 2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

In [ ]:
#Ask the user to enter a number between 1 and 12 and then display the times table for that number.
n=int(input("enter a number between 1 and 12"))
x=int(input("enter x value"))
for i in range(1,x):
  print(i*n)

enter a number between 1 and 124
enter x value10
4
8
12
16
20
24
28
32
36

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('@ ', end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('@ ', end="")
    print('')

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @
@ @ @ @
@ @ @
@ @
@

In [ ]:
import re
text = ["Life is beautiful", "No need to overthink", 
        "Meditation help in overcoming depression"]
def func(x):
    remove_words=['is','in', 'to', 'no']
    resultwords  = [word for word in re.split("\W+",x) if word.lower() not in remove_words]
    print(resultwords)
a=map(func,text)
print(list(a))

['Life', 'beautiful']
['need', 'overthink']
['Meditation', 'help', 'overcoming', 'depression']
[None, None, None]

In [ ]:
#Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.
z=list(range(2,201))
print(z)
x=[i for i in z if i%2==0]
print(x)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [ ]:
#You are given three integers x,y,z representing the dimensions of a cuboid along with an integer n. You have to print a list of all possible coordinates given by on a 3D grid where the sum is not equal to n.
X, Y, Z, N = 1, 1, 1, 2
a=[[x,y,z] for x in range(X + 1) for y in range(Y + 1) 
   for z in range(Z + 1) if x+y+z != N]
print(a)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [ ]:
def add(a,b):
    assert(a>b)
    assert(b>a)
    print(a/b)
add(4,0)

AssertionError: ignored